html {
  background-color: black;
  background: url(/Users/tonygriffin/workspace/pick-your-own-project/src/components/StarWars.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:100%;
  width: 100%;
}

body {
  color: white;
}

li {
  list-style: none;
}

.card__shipname {
  margin: auto;
  background: rgba(112,128,144,0.8);
  text-decoration: underline;
}

.counters__text {
  color: red;
  text-decoration: underline;
  background: rgba(112,128,144,0.9);
  margin-top: 50px;
  margin-bottom: 20px;
}

.computercard__container {
  display : flex;
  flex-direction: column;
  background: url(/Users/tonygriffin/workspace/pick-your-own-project/src/components/StarWarsStarsBG.png);
  border: 3px solid rgba(112,128,144,0.8);
  border-radius: 40px;
  padding: 20px;
  margin-left: 30px;
  // margin-top: 30px;
  color : white;
}

.computercard__container--hidden {
  display: none;
}

.playercard__container {
  border: 3px solid rgba(112,128,144,0.8);
  border-radius: 40px;
  padding: 20px;
  background: url(/Users/tonygriffin/workspace/pick-your-own-project/src/components/StarWarsStarsBG.png);
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  color : white;
}

.cards__container {
  display : flex;
  background-color: black;
  background: url(/Users/tonygriffin/workspace/pick-your-own-project/src/components/SWCardBG.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 400px;
  justify-content: center;
  align-items: center;
}

.attribute__button {
  display: block;
  border: 2px solid red;
}

.nextround__button__div{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(112,128,144,0.8);
  border: 2px solid white;
  border-radius: 40px;
  padding: 10px;
  text-decoration: underline;
}

.nextround__button {
  // display: block;
  max-width: 100px;
  max-height: 100px;
  border: 4px solid white;
  margin-top: 50px;
  margin-bottom: 20px;
}
