html {
  background-color: black;
  background: url(/Users/tonygriffin/workspace/pick-your-own-project/src/components/StarWars.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:100%;
  width: 100%;
}

body {

  color: white;
}

.card__ul {
  background-color: lightblue;

}

.playercard__shipname {
  margin: auto;
  // align-items: center;
  // align-self: center;
  // align-content: center;
}

.computercard__shipname {
  margin: auto;
  // align-items: center;
  // align-self: center;
  // align-content: center;
}

.app__container {
  background-color: rgb(192,192,192);
}

.counter__container {
  background-color: red;
}

.counters__text {
  color: red;
}

.computercard__container {
  display : block;
  position: relative;
  background-color: rgb(192,192,192);
  border: 3px solid purple;
  margin: 20px;
}

.computercard__container--hidden {
  display: none;
}

.playercard__container {
  border: 3px solid green;
  background-color: rgb(192,192,192);
  margin: 20px;
}

.cards__container {
  display : flex;
  position: fixed;
  background-color: black;
  margin-top: 100px;
}

.attribute__button {
  display: block;
  border: 2px solid red;
}

.nextround__button {
  display: block;
  border: 4px solid white;
}
