body {
  background-color: Cornsilk;
}

.card__ul {
  background-color: lightblue;
}

.counter__container {
  background-color: red;
}

.computercard__container {
  display : block;
  border: 3px solid purple;
  margin: 20px;
}

.computercard__container--hidden {
  display: none;
}

.playercard__container {
  border: 3px solid green;
  margin: 20px;
}

.cards__container {
  display : flex;
}

.attribute__button {
  display: block;
  border: 2px solid red;
}

.attribute__button--hidden {
  display: none;
}
